<section class="w3l-market-footer">
    <footer class="footer-28">
      <div class="footer-bg-layer">
        <div class="container py-lg-3">
          <div class="row footer-top-28">
            <div class="col-md-6 footer-list-28 mt-5">
              <h6 class="footer-title-28">Contact information</h6>
              <ul>
                <li>
                  <p><strong>Address</strong> : Mamura, Sector 66, Noida, Uttar Pradesh 201305</p>
                </li>
                <li>
                  <p><strong>Phone</strong> : <a href="tel:+91-8171092800">+91-8171092800</a>&nbsp;<a href="tel:+91-7017606802">+91-7017606802</a></p>
                </li>
                <li>
                  <p><strong>Email</strong> : <a href="mailto:info@saavytechnologies.com">info@saavytechnologies.com</a></p>
                </li>
              </ul>

              <div class="main-social-footer-28 mt-3">
                <ul class="social-icons">
                  <!-- <li class="facebook">
                    <a href="javascript:void(0);" target="_blank" title="Wordpress">
                      <span class="fa fa-wordpress" aria-hidden="true"></span>
                    </a>
                  </li>
                  <li class="twitter">
                    <a href="javascript:void(0);" target="_blank" title="Twitter">
                      <span class="fa fa-twitter" aria-hidden="true"></span>
                    </a>
                  </li> -->
                  <li class="dribbble">
                    <a href="https://www.linkedin.com/in/saavy-technologies-0b78a3200/" target="_blank" title="LinkedIn">
                      <span class="fa fa-linkedin" aria-hidden="true"></span>
                    </a>
                  </li>
                  <li class="dribbble">
                    <a href="https://www.facebook.com/Saavy-Technologies-108154217808662" target="_blank" title="Facebook">
                      <span class="fa fa-facebook" aria-hidden="true"></span>
                    </a>
                  </li>
                  <li class="dribbble">
                    <a href="https://www.instagram.com/saavytechnologies/" target="_blank" title="Instagram">
                      <span class="fa fa-instagram" aria-hidden="true"></span>
                    </a>
                  </li>
                  <!-- <li class="google">
                    <a href="https://www.instagram.com/saavytechnologies/" target="_blank" title="Instagram">
                      <span class="fa fa-instagram" aria-hidden="true"></span>
                    </a>
                  </li> -->
                </ul>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-4 footer-list-28 mt-5">
                  <h6 class="footer-title-28">Company</h6>
                  <ul>
                    <li><a routerLink="/about">About</a></li>
                    <li><a routerLink="/blog">Blog Posts</a></li>
                    <!-- <li><a href="#pricing.html">FAQ</a></li>
                    <li><a href="#pricing.html">Pricing</a></li> -->
                  </ul>
                </div>
                <div class="col-md-4 footer-list-28 mt-5">
                  <!-- <h6 class="footer-title-28">Support</h6> -->
                  <ul>
                    <li><a routerLink="/contact">Contact Us</a></li>
                    <!-- <li><a href="#signup.html">Create account</a></li>
                    <li><a href="#learn.html">Learning Center</a></li>
                    <li><a href="#career.html">Team</a></li> -->
                  </ul>
                </div>
                <div class="col-md-4 footer-list-28 mt-5">
                  <!-- <h6 class="footer-title-28">Product</h6> -->
                  <ul>
                    <!-- <li><a href="#URL">Market</a></li>
                    <li><a href="#URL">VIP</a></li>
                    <li><a href="#URL">Resources</a></li>
                    <li><a href="#URL">Sale</a></li>
                    <li><a href="#URL">Admin UI</a></li> -->
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="midd-footer-28 align-center py-lg-4 py-3 mt-5">
          <div class="container">
            <p class="copy-footer-28 text-center"> &copy; 2020 Saavy Technologies. All Rights Reserved. 
              <!-- Design by <a
                routerLink="/home">Saavy Technologies</a> -->
              </p>
          </div>
        </div>
      </div>
    </footer>
  </section>