<app-header></app-header>
<div class="w3l-index-block4">
    <div class="features-bg py-5">
      <!-- features15 block -->
      <div class="container py-md-3">
        <div class="heading text-center mx-auto">
          <h3 class="head">Marketing solutions for your business </h3>
          <p class="my-3 head"> Saavy Technologies provides services that give an impressive return on investments. From creating an effective website to its profitable marketing, we are the
            perfect digital company for your business.</p>
        </div>
        <div class="row">
          <div class="col-md-6 features15-col-text">
            <a href="javascript:void(0);" class="d-flex flex-wrap feature-unit align-items-center">
              <div class="col-sm-3">
                <div class="features15-info">
                  <span class="fa fa-laptop" aria-hidden="true"></span>
                </div>
              </div>
              <div class="col-sm-9 mt-sm-0 mt-4">
                <div class="features15-para">
                  <h4>UI/UX Designing</h4>
                  <p>We don't just sell websites, we create websites that SELL.</p>
                </div>
              </div>
            </a>
          </div>
           <div class="col-md-6 features15-col-text">
            <a href="javascript:void(0);" class="d-flex flex-wrap feature-unit align-items-center">
              <div class="col-sm-3">
                <div class="features15-info">
                  <span class="fa fa-pencil-square-o" aria-hidden="true"></span>
                </div>
              </div>
              <div class="col-sm-9 mt-sm-0 mt-4">
                <div class="features15-para">
                  <h4>Website Development</h4>
                  <p>The developers at Saavy Technologies write
                    a simple yet powerful script for
                    your website. Our coders not
                    just make the website fully
                    functional but also keep them
                    SEO-friendly.</p>
                </div>
              </div>
            </a>
          </div>
        
          <div class="col-md-6 features15-col-text">
            <a href="javascript:void(0);" class="d-flex flex-wrap feature-unit align-items-center">
              <div class="col-sm-3">
                <div class="features15-info">
                  <span class="fa fa-android" aria-hidden="true"></span>
                </div>
              </div>
              <div class="col-sm-9 mt-sm-0 mt-4">
                <div class="features15-para">
                  <h4>Android Application Development</h4>
                  <p>Mobile is the glue for all other digital industries to use when approaching convergence, but mobile is also the digital gateway for the real world to join in this global metamorphosis of human behavior.</p>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-6 features15-col-text">
            <a href="javascript:void(0);" class="d-flex flex-wrap feature-unit align-items-center">
              <div class="col-sm-3">
                <div class="features15-info">
                  <span class="fa fa-apple" aria-hidden="true"></span>
                </div>
              </div>
              <div class="col-sm-9 mt-sm-0 mt-4">
                <div class="features15-para">
                  <h4>IOS Application Development</h4>
                  <p>Mobile is the glue for all other digital industries to use when approaching convergence, but mobile is also the digital gateway for the real world to join in this global metamorphosis of human behavior.</p>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-6 features15-col-text">
            <a href="javascript:void(0);" class="d-flex flex-wrap feature-unit align-items-center">
              <div class="col-sm-3">
                <div class="features15-info">
                  <span class="fa fa-user-o" aria-hidden="true"></span>
                </div>
              </div>
              <div class="col-sm-9 mt-sm-0 mt-4">
                <div class="features15-para">
                  <h4>Logo Designing</h4>
                  <p>A logo is not a brand—it's only a symbol for a brand. A brand is much more than a logo.</p>
                </div>
              </div>
            </a>
          </div>     
          <div class="col-md-6 features15-col-text">
            <a href="javascript:void(0);" class="d-flex flex-wrap feature-unit align-items-center">
              <div class="col-sm-3">
                <div class="features15-info">
                  <span class="fa fa-sort-alpha-asc" aria-hidden="true"></span>
                </div>
              </div>
              <div class="col-sm-9 mt-sm-0 mt-4">
                <div class="features15-para">
                  <h4>Digital Marketing and SEO</h4>
                  <p>It is a long established fact that a reader will be distracted by the readable content.</p>
                </div>
              </div>
            </a>
          </div>
           <div class="col-md-6 features15-col-text">
            <a href="javascript:void(0);" class="d-flex flex-wrap feature-unit align-items-center">
              <div class="col-sm-3">
                <div class="features15-info">
                  <span class="fa fa-line-chart" aria-hidden="true"></span>
                </div>
              </div>
              <div class="col-sm-9 mt-sm-0 mt-4">
                <div class="features15-para">
                  <h4>Technical Support for Events</h4>
                  <p>Saavy Technologies can help with all aspects of technical event production as well as being an enthusiastic and helpful partner to help make your event exciting and memorable.</p>
                </div>
              </div>
            </a>
          </div>
       
          <!-- <div class="col-md-6 features15-col-text">
            <a href="javascript:void(0);" class="d-flex flex-wrap feature-unit align-items-center">
              <div class="col-sm-3">
                <div class="features15-info">
                  <span class="fa fa-line-chart" aria-hidden="true"></span>
                </div>
              </div>
              <div class="col-sm-9 mt-sm-0 mt-4">
                <div class="features15-para">
                  <h4>Emailing</h4>
                  <p>It is a long established fact that a reader will be distracted by the readable content.</p>
                </div>
              </div>
            </a>
          </div> -->
        </div>
        <div>
          <!-- features15 block -->
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
  <button onclick="topFunction()" id="movetop" title="Go to top">
    &#10548;
  </button>
